
.main2 {
    background: rgb(105, 105, 113)!important;
    }
.applicationButton {
    transition: 0.2s;
}

.applicationButton:hover {
    transform: translateY(-7px);
    transition: ease-out 0.3s;
}

@media (max-width: 806px) and (min-width: 768px) {
#companyinfo2 {
    width: none!important;
}
}

h4 a {
    color:white!important;
}


@media (min-width: 1400px) {
#map_canvas {
    width: 350px;
    height: 300px;
}
}














@media (max-width: 352px) {
#companyinfoTwo {
    width: 100% !important;
    text-align: center;
    }
}

@media (max-width: 402px) and (min-width: 353px) {
#companyinfoTwo {
    width: 100% !important;
    text-align: left;
}
}

@media (max-width: 487px) and (min-width: 403px) {
#companyinfoTwo {
    width: 100% !important;
    text-align: left !important;
}
}

@media (max-width: 806px) and (min-width: 768px) {
#companyinfoTwo {
    width: 30% !important;
    text-align: right;
    float: right;
}
}


@media (min-width: 1400px) {
#contacts {
    margin-top: 0;
}
}


@media (max-width: 487px) and (min-width: 403px) {
h4 {
    font-size: 15px;
    text-align: center!important;
}
}

@media (max-width: 352px) {
h4 {
    font-size: 15px;
    text-align: center!important;
}
}

@media (max-width: 402px) and (min-width: 353px) {
h4 {
    font-size: 15px;
    text-align: center!important;
}
}

@media (max-width: 806px) and (min-width: 768px) {
h4 {
    font-size: 15px!important;
}
}


@media (max-width: 1080px) and (min-width: 1000px) {
h4 {
    font-size: 15px!important;
}
}